<h1>{{title}}</h1>
{{#if tasks.length}}

{{#each tasks}}

<p>{{this.id}} - {{this.name}} - {{this.description}} - {{this.createdAt}} - <a href="/tasks/{{this.id}}/delete">Delete</a></p>
{{/each}}


{{/if}}